
.head-bar {
  text-align: center;
  overflow: hidden;
  padding: 0px;
  box-shadow: 0 5px 15px #eee;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-bar .cart, .head-bar .bars {
  font-size: 20px;
  color: #aaa;
  margin: 0 10px;

}

.search input {
  border-radius: 20px !important;
}

.banner-img {
  width: 100%;
  max-height: 180px;
}

.navigator {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.navigator a {
  color: #555;
}

.navigator a:visited {
  color: #555;
}

.navigator .icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 10px;
  line-height: 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50% 50%;
}

.navigator .building {
  background: linear-gradient(to right, #9EDFDF,#66CCCC);
  box-shadow: 0 10px 10px #E3F6F6;
}

.navigator .users {
  background: linear-gradient(to right,#FF90E3,#FF33CC);
  box-shadow: 0 10px 10px #FFDAF6;
}

.navigator .map {
  background: linear-gradient(to right,#C7FFC7,#99FF99);
  box-shadow: 0 10px 10px #ECFFEC;
}

.navigator .comments {
  background: linear-gradient(to right,#FFE3AC,#FFCC66);
  box-shadow: 0 10px 10px #FFF6E3;
}

.title-bar {
  text-align: center;
  padding: 1rem;
  margin-top: 0.5rem;
}

.more {
  color: #555;
  float: right;
}

.more:hover {
  color: #555;
}
