.Message {
    width: 90%;
    margin: 20px 0;
}

.comment-user {
    color: #1cb6b3;
    display: inline-block;
    width: 40px;
    padding-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 10px;
}

.feed-comments {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}

.is-like {
    color: crimson;
}

form.ui.form {
    margin: 5px;
}